.buscador{
    display: flex;
    width: 100%;

    justify-content: center;
    height: 2rem;
}
.buscador input{
    padding: 2px;
    font-size: 20px;
    border-width: 1px;
    border-color: #242424;
    background-color: #242424;
    color: #fff;
    border-style: solid;
    border-radius: 5px;
    height: 2rem;
    text-align: center;
}
.buscador input:focus {
    outline-color: #fff;
    outline-width: 0.5px;
  }