.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.container p {
    margin-top: 1rem;
    color: #a7a7a7;
    font-size: 1.5rem;
    font-weight: bolder;
}
.container .engines {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
