.app{
    
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    background-color: #000;
    min-width: 360px;
    max-width: 360px;
    border-radius: 12px;

    padding-bottom: 1rem;
}