.app{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    background-color: #000;
    width: 80vw;
    border-radius: 12px;

}
@media(min-width: 300px) and (max-width: 440px){
    .app{
        width: 90vw;
    }
}