/* 
  colores:
  #27374D
  #526D82
  #9DB2BF
  #DDE6ED
  #1db954
  #1ed760
  #ffffff
  #191414
  --background-base: #121212;
    --background-highlight: #1a1a1a;
    --background-press: #000;
    --background-elevated-base: #242424;
    --background-elevated-highlight: #2a2a2a;
    --background-elevated-press: #000;
    --background-tinted-base: hsla(0,0%,100%,.07);
    --background-tinted-highlight: hsla(0,0%,100%,.1);
    --background-tinted-press: hsla(0,0%,100%,.04);
    --background-unsafe-for-small-text-base: #121212;
    --background-unsafe-for-small-text-highlight: #121212;
    --background-unsafe-for-small-text-press: #121212;
    --text-base: #fff;
    --text-subdued: #a7a7a7;
    --text-bright-accent: #1ed760;
    --text-negative: #f15e6c;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #3d91f4;
    --essential-base: #fff;
    --essential-subdued: #727272;
    --essential-bright-accent: #1ed760;
    --essential-negative: #e91429;
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-announcement: #0d72ea;
    --decorative-base: #fff;
    --decorative-subdued: #292929;
*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(25,99,51);
  background: linear-gradient(30deg, rgba(25,99,51,1) 0%, rgba(25,20,20,1) 100%);
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
}
body h1{
  color: #a7a7a7;
}