/* 
  colores:
  #643843
  #99627A
  #C88EA7
  #E7CBCB
*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #E7CBCB;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}